body {
    background-color: #1e1e1e;
    color: #fff;
}

.header-logo {
    max-width: 250px;
    margin-bottom: 20px;
}
section {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

.faq-question {
    cursor: pointer;
    font-weight: 600;
}

.faq-answer {
    display: none;
    margin-bottom: 1rem;
    color: #ddd;
}

.plan-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
}

.plan-price {
    font-size: 1.6rem;
    font-weight: 600;
    color: #b388ff;
    margin-bottom: 20px;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.plan-features li {
    padding: 8px 0;
    border-bottom: 1px solid #333;
}