body {
    background-color: #1e1e1e;
    color: #fff;
}

.header-logo {
    max-width: 250px;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}
section {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s ease;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

