body {
    background-color: #1e1e1e;
    color: #fff;
}

.header-logo {
    max-width: 250px;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}
section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}

/* FAQ */
.faq-question {
    cursor: pointer;
    font-weight: 600;
}

.faq-answer {
    display: none;
    margin-bottom: 1rem;
    color: #ddd;
}


